@model DoubleDeal.Web.ViewModels.AuctionsListingViewModel
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Actual Amount</th>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var auction in Model.Auctions)
        {
        <tr>

            <td>
                <input type="hidden" value="@auction.ID" />
                @auction.Title
            </td>
            <td>@auction.Category.Name</td>
            <td>@auction.Description</td>
            <td>@auction.ActualAmount</td>
            <td>@auction.StaringTime</td>
            <td>@auction.EndTime</td>
            <td>
                <button class="editbutton btn btn-primary" data-id="@auction.ID" data-toggle="modal" data-target="#formModal">Edit</button>
                <button class="deletebutton btn btn-danger" data-id="@auction.ID" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </td>


        </tr>
        }
    </tbody>
</table>
<script>
    $(".editbutton").click(function () {
       
                    $.ajax({
                        url: '@Url.Action("Edit", "Auctions")',
                        type: "get",
                        data: {
                            ID: $(this).attr("data-id")
                        }
                    }).done(function (response) {
                        $("#contextArea").html(response);
                        $("#formModal").modal('toggle');
                    });
      });
    $(".deletebutton").click(function () {
        
        $("#deleteModal").modal('toggle');
        $("#mDeletebutton").attr("data-recordID", $(this).attr("data-id"))         
      });
                
  
</script>





